@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Shabnam;
    src: url(assets/Shabnam.woff2);
}@font-face {
    font-family: Shabnam-Bold;
    src: url(assets/Shabnam-Bold.woff2);
}@font-face {
    font-family: Shabnam-Thin;
    src: url(assets/Shabnam-Thin.woff2);
}
@font-face {
    font-family: Shabnam-Medium;
    src: url(assets/Shabnam-Medium.woff2);
}
@font-face {
    font-family: Shabnam-Light;
    src: url(assets/Shabnam-Light.woff2);
}